---
layout: default
---
<div class="home">
<ul class="post-list">
{% for post in site.posts %}
	{% unless post.next %}
		<h1 class="page-heading">{{ post.date | date: '%Y' }}</h1>
	{% else %}
		{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
		{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
		{% if year != nyear %}
			<h1 class="page-heading">{{ post.date | date: '%Y' }}</h1>
		{% endif %}
	{% endunless %}
	<li><span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; {{ post.time }} @ <a href="{{ post.url }}">{{ post.title }}</a> <span class="post-category">{{ post.category }}</span></li>
{% endfor %}
<!--
2015 (missing races)
4:33:13 @ 26.2 with Donna Marathon (2/15/2015)
2:03:49 @ Run for the Nurses (4/11/2015)

<h1 class="page-heading">2014</h1>
0:22:17 @ CCA Soaring with Eagles 5K (1/25/2014)
1:49:47 @ Hospice Half Marathon (2/15/2014)
4:10:43 @ 26.2 with Donna Marathon (2/23/2014)
0:22:40 @ 4-H Run for the Revolution (3/1/2014)
4:39:08 @ Florida Sheriff’s Youth Ranch Marathon (3/9/2014)
0:23:14 @ Don’t Run with Scissors 5K (3/15/2014)
0:50:33 @ Dosta Dash 10K (3/22/14)
1:57:22 @ Run for the Nurses (4/5/2014)
0:25:14 @ VMS CC Booster 5K (4/26/14)
0:23:55 @ Memorial Day 5K (5/26/2014)
0:51:28 @ Peachtree Road Race 10K (7/4/2014)
0:25:20 @ Break Bread Bun Run 5K (7/12/2014)
0:24:27 @ Barnes 100 Year 5K (7/19/2014)
0:24:30 @ Blazer Dash 5K (8/29/2014)
0:53:12 @ Race for the Nations 10K (9/20/2014)
0:23:00 @ Glow for Gold 5K (9/20/2014) – No official results
0:23:42 @ New Years Eve 5K (12/31/2014)

<h1 class="page-heading">2013</h1>
0:31:08 @ Run 4 Missions (1/19/2013)
0:24:19 @ ABAC Fitness 5K (1/26/2013)
0:24:11 @ Jog With The Generals 5K (2/9/2013)
1:59:03 @ Hospice Half Marathon (2/16/2013)
5:05:43 @ Florida Sheriff’s Youth Ranch Marathon (3/10/2013)
0:24:37 @ Don’t Run with Scissors 5K (3/16/2013)
0:50:42 @ Dosta Dash 10K (3/23/2013)
1:53:58 @ Run for the Nurses (4/13/2013)
0:23:49 @ TitleTown 5K (4/27/2013)
0:24:00 @ 5K-9 for BARC Humane Society (5/18/2013)
0:23:52 @ Memorial Day 5K (5/27/2013)
0:57:05 @ Peachtree Road Race 10K (7/4/2013)
0:25:05 @ Barnes 100 Year 5K (7/13/2013)
0:24:53 @ Break Bread Bun Run (7/20/2013)
0:14:24 (2mi), 0:00:33 (200m), 0:06:59 (1mi) @ Cumulative 5K (7/27/2013)
0:24:48 @ Cast Iron 5K (10/19/2013)
0:48:19 @ CrossePointe Community Run 10K (11/09/2013)
0:23:08 @ BARC Humane Society 5K (11/16/2013)
0:22:52 @ Rebel Run 5K (11/16/2013)
0:22:35 @ Thanksgiving Day 5K (11/28/2013)
0:22:26 @ WinterFest 5K (12/07/2013)
0:22:24 @ New Years Eve 5K (12/31/2013)

<h1 class="page-heading">2012</h1>
2:14:38 @ Hospice Half Marathon (2/18/2012)
0:26:45 @ Art of Surviving 5K (2/25/2012)
0:26:25 @ Sunrise Rotary 5K (5/12/2012)
1:01:38 @ Peachtree Road Race 10K (7/4/2012)
0:26:52 @ Barnes 100 Year 5K (7/14/2012)
0:27:46 @ Habitat for Humanity 5K (8/4/2012)
0:26:53 @ Kicks for Katelyn 5K (10/13/2012)
0:27:21 @ St. John Wicked 5K (10/27/2012)
0:56:11 @ CrossePointe Community Run 10K (11/10/2012)
0:26:47 @ BARC Humane Society 5K (11/17/2012)
0:26:34 @ WinterFest 5K (12/1/2012)
0:24:35 @ New Years Eve 5K (12/31/2012)

<h1 class="page-heading">2011</h1>
0:33:56 @ Art of Surviving 5K (2/26/2011)
0:32:23 @ Azalea Festival 5K (3/12/2011)
0:30:02 @ Don’t Run with Scissors 5K (3/19/2011)
0:28:24 @ Justice in Motion 5K (4/2/2011)
0:27:32 @ Catch Me If You Can 5K (4/30/2011)
0:29:33 @ Memorial Day 5K (5/30/2011)
0:27:14 @ Jogging for James 5K (6/25/2011)
1:05:11 @ Peachtree Road Race 10K (7/4/2011)
0:52:48 @ Summer Beach Run 5 Mile (8/20/2011)
0:27:35 @ Labor Day 5K (9/5/2011)
0:49:14 @ Believe in Heroes 8K (9/11/2011)
-->
</ul>
</div>