---
layout: default
---
<div class="home">
<ul class="post-list">
{% for post in site.posts %}
	{% unless post.next %}
		<h1 class="page-heading">{{ post.date | date: '%Y' }}</h1>
	{% else %}
		{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
		{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
		{% if year != nyear %}
			<h2>{{ post.date | date: '%Y' }}</h2>
		{% endif %}
	{% endunless %}
	<li><span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; {{ post.time }} <a href="{{ post.url }}">{{ post.title }}</a> <span class="post-category">{{ post.category }}</span></li>
{% endfor %}
</ul>
</div>