---
layout: default
---
<div class="home">
{% for category in site.categories %}
	<h1 class="page-heading">{{ category | first | camelize }}</a> ({{ category | last | size }})</h1>
		<ul class="post-list">
			{% for posts in category %} {% if forloop.first %}{% continue %}{% endif %} <!--ignore first post-->
				{% for post in posts %}
					<li><span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
				{% endfor %}
			{% endfor %}
		</ul>
{% endfor %}
<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>